/legacy/sleeping_machines_v3_results/results.json filter=lfs diff=lfs merge=lfs -text
/experiments/results/e38/feats_p1_s0.01.npz filter=lfs diff=lfs merge=lfs -text
/experiments/results/e38/feats_p2_s0.01,0.03.npz filter=lfs diff=lfs merge=lfs -text
/experiments/results/e38/feats_p2_s0.01,0.03_o0.05_d0_np0.npz filter=lfs diff=lfs merge=lfs -text
/experiments/results/e83/deep_d8_n4_M16-16_depth4_aux0.2_objanytime_spk_s2.json filter=lfs diff=lfs merge=lfs -text
